.navbar {
  display: flex;
  gap: 10px;
  justify-content: start;
}

button {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
}

button.active {
  background-color: #ccc;
  font-weight: bold;
}
